@import "tailwindcss";

@theme {
  --color-netflix-red: #e50914;
  --color-netflix-black: #141414;
  --color-netflix-dark-grey: #181818;
  --color-netflix-light-grey: #2f2f2f;
}

:root {
  --background: #141414;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e50914;
}


#google_translate_element, .goog-te-gadget, .skiptranslate {
  display: none !important;
  visibility: hidden !important;
}

.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
.goog-te-menu-frame,
.goog-te-balloon-frame,
.goog-te-balloon-frame.skiptranslate,
#goog-gt-tt,
.goog-tooltip,
.goog-tooltip:hover,
iframe.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
}

body {
  top: 0 !important;
  position: static !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}

font {
  background-color: transparent !important;
  box-shadow: none !important;
}
